<ion-header>
  <ion-navbar>
    <ion-title>Search Client Name</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

  <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
  </div>

  <ion-list>
      <ion-item *ngFor="let item of items">
          {{item.name}}
      </ion-item>
      <ion-item *ngIf="noRecordsFound">No Records Found</ion-item>
  </ion-list>

  <button ion-button color="primary" class="search-btn" type="submit" *ngIf="!noRecordsFound" (click)="searchResults(items)">SEARCH RESULTS</button>

</ion-content>