page-search-results {
    .name {
        font-size: 19px; // font-weight: 500;
        letter-spacing: -0.1px; // color: color($colors, defaultText);
        margin-bottom: 10px;
        .duration-after-comment{
            opacity: 0.5;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.1px;
            margin-left: 10px;
        }
    }
    .comment-body{
        margin-bottom: 30px;
        font-size: 17px;
        line-height: 1.41;
        letter-spacing: 0;
    }
}
