<ion-header>
  <ion-navbar>
    <ion-title>Login Screen</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="logo">
    <img src="./../../assets/imgs/namify.jpeg">
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="loginForm.controls.username.hasError('required') && loginForm.controls.username.touched" class="error-msg">
      {{error.INVALID_USERNAME}}
    </ion-item>
    <ion-item *ngIf="loginForm.controls.username.hasError('pattern') && loginForm.controls.username.touched" class="error-msg">
      {{error.INVALID_USERNAME_REGEX}}
    </ion-item>
    <ion-item *ngIf="loginForm.controls.username.hasError('minlength') && loginForm.controls.username.touched" class="error-msg">
      {{error.INVALID_USERNAME_MINLENGTH}}
    </ion-item>
    <ion-item *ngIf="loginForm.controls.username.hasError('maxlength') && loginForm.controls.username.touched" class="error-msg">
      {{error.INVALID_USERNAME_MAXLENGTH}}
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" [type]="passwordType"></ion-input>
      <ion-icon *ngIf="loginForm.controls.password && loginForm.controls.password.value !='' " [name]="passwordIcon"
        item-right (click)="hideShowPassword()"></ion-icon>

    </ion-item>
    <ion-item *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched" class="error-msg">
      {{error.INVALID_PASSWORD_REQD}}
    </ion-item>
    <ion-item *ngIf="loginForm.controls.password.hasError('minlength') && loginForm.controls.password.touched" class="error-msg">
      {{error.INVALID_PASSWORD}}
    </ion-item>

    <button ion-button full color="primary" [disabled]="!loginForm.valid" style="margin-top: 20px;" type="submit">LOGIN</button>

  </form>
</ion-content>