<ion-header>
  <ion-navbar>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
    <ion-item>
      <ion-label floating>Enter Current Password</ion-label>
      <ion-input formControlName="curr_password" [type]="showCurrPswd ? 'text' : 'password'"></ion-input>
      <ion-icon *ngIf="resetForm.controls.curr_password && resetForm.controls.curr_password.value !='' " [name]="showCurrPswd ? 'eye-off' : 'eye'"
        item-right (click)="showCurrPswd = !showCurrPswd"></ion-icon>
    </ion-item>

    <ion-item *ngIf="!resetForm.controls.curr_password.valid && resetForm.controls.curr_password.touched" class="error-msg">
      {{error.INVALID_CURR_PASSWORD}}
    </ion-item>

    <ion-item>
      <ion-label floating>Enter New Password</ion-label>
      <ion-input formControlName="new_password" [type]="showNewPswd ? 'text' : 'password'"></ion-input>
      <ion-icon *ngIf="resetForm.controls.new_password && resetForm.controls.new_password.value !='' " [name]="showNewPswd ? 'eye-off' : 'eye'"
        item-right (click)="showNewPswd = !showNewPswd"></ion-icon>

    </ion-item>
    <ion-item *ngIf="!resetForm.controls.new_password.valid && resetForm.controls.new_password.touched" class="error-msg">
      {{error.INVALID_CURR_PASSWORD}}
    </ion-item>

    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input formControlName="cnfm_password" [type]="showCnfmPswd ? 'text' : 'password'"></ion-input>
      <ion-icon *ngIf="resetForm.controls.cnfm_password  && resetForm.controls.cnfm_password.value !=''" [name]="showCnfmPswd ? 'eye-off' : 'eye'"
        item-right (click)="showCnfmPswd = !showCnfmPswd"></ion-icon>

    </ion-item>
    <ion-item *ngIf="(resetForm.controls.cnfm_password.value != resetForm.controls.new_password.value) && resetForm.controls.new_password.touched"
      class="error-msg">
      {{error.INVALID_CONFIRM_PASSWORD}}
    </ion-item>
    <button ion-button full color="primary" [disabled]="!resetForm.valid" style="margin-top: 20px;" type="submit">RESET
      PASSWORD</button>

  </form>
</ion-content>